{% extends 'main.html' %}

{% block content %}
    <h2>Here goes the list of projects</h2>
    <a href="{% url 'project_create' %}">Create new project</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Project</th>
            <th>Positive Votes</th>
            <th>Votes Ratio</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td><a href="{% url 'project' project.id %}">{{ project.title }}</a></td>
                <td>{{ project.vote_total }}</td>
                <td>{{ project.vote_ratio }}%</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
